.titulos{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-family:times;
    font-size:40px;
    font-weight:bold;
    font-style: normal;
    color:black;
    display: flex;
    justify-content: center;
}

h2{
    font-family:times;
    font-size:30px;
    font-weight:bold;
    font-style: normal;
    color:black;
    display: flex;
    justify-content: center;
}


.form-pagamento{
    border: 1px solid #2e2e2e;
    border-radius: 5%;
    border-width: 1px;
    width: 500px;
    height: 400px;
    font-family: times;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    padding: 18px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: white;
}

.pagamento{
    font-size: 18px;
    font-family: times;
    font-weight: bold;
    font-style: normal;
    
}

.endereco{
    border: 1px solid #2e2e2e;
    border-radius: 5%;
    border-width: 1px;
    width: 500px;
    height: 420px;
    font-family: times;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    padding: 18px 14px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    background-color: white;
}

.salva-end{
    font-size: 15px;
    display: block;
    justify-content: center;
}

.myButton {
	box-shadow:inset 0px 0px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:7px 22px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
    position: relative;
    
}

.myButton:hover {
    background: #37475a;
    color: #fff;
    transition: 0.3s all;
}

.myButton:active {
	position:relative;
	top:1px;
}

.botao{
    text-align: center;
}

.tudo{
    background-color: eaeded;
}


